<aside class="left">
  <%= link_to "Log in or Create an Account", login_path,
        class: 'btn btn-primary' %>
</aside>

<div class="container">
  <div id="chartBox">
    <div id='new-user-box'>
      <div id='landing-head-div'>
        <i class='fa fa-github fa-6x'></i>
        <i class='fa fa-plus-circle'></i>
        <i class='fa fa-trello fa-6x'></i>
      </div>
      <h1>Welcome to Pitch Day Planner!</h1>
      <h3>Getting you to Pitch Day in one piece - teammates included :)</h3>
      <div class='landing-info'>
        <span id='what-it-does'>
          <h3>What does it do?</h3>
          <ul>
            <li>Automatically create Trello boards</li>
            <li>Add members to your Trello board and Github Repo</li>
            <li>Monitor card activity and find out what tasks are held up</li>
            <li>Increase productivity by focusing stand-up meetings and streamlining Trello workflow</li>
          </ul>
        </span>
        <span id="whos-it-for">
          <h3>Who is it for?</h3>
          <h4>Literally everyone!</h4>
          <ul>
            <li>Trello is an amazing tool for team productivity, and it's not just for the software industry!</li>
            <li>Track progress of new feature implementation and manage existing projects easily!</li>
            <li>Get important information from your team without having to ask them - save time communicating the same info to each person on your team!</li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
