

<%= link_to 'Create a new project', new_user_project_path(@current_user, @project) %>

<%= link_to 'Log Out', logout_path %>
<ul>
  <% console %>
<% @current_user.attributes.each do |attr| %>
  <li><%= attr %></li>
<% end %>
</ul>
