<aside class="left">
  <div id='user-card'>
    <%= user_card @current_user %>
  </div>
  <%= link_to 'Create a new Project', new_user_project_path, remote: true,
      class: 'btn btn-primary' %>
  <%= link_to 'project show', user_project_path(Project.last), remote: true,
      class: 'btn btn-primary' %>
  <%= link_to 'Log out', logout_path, class: 'btn btn-primary' %>
</aside>

<div class="container">
  <div id="chartBox">
    <p class="container-title"></p>
    <canvas id="repoChart"></canvas>
  </div>
</div>
