<%= form_for add_collabs_path(@project), remote: true do |form| %>

  <%= form.label :collaborators %>

  <p>Add collaborators by their Trello nickname.</p>
  <div>
  <%= form.text_field :collaborators, class: 'form-control users-search',
        id: 'users-search-txt' %>
    <div class="results" id="users-search-results"></div>
  </div>
<% end %>

<script>
  $(function() {
    new app.Users;
  });
</script>
