var project = <%= (@project).to_json.html_safe %>

var project_repo = <%= (@project.repo).to_json.html_safe %>

var project_board = <%= ((@project.board).to_json.html_safe) || "Setting up your Trello board..." %>

var collaborators = <%= (@project.collaborators.count).to_json.html_safe %>

$("#chartBox")
.append(
    $("<div>")
    .append(
        $("<div>")
        .append(
            $("<h1>" + project.name + "</h1>")
        )
        .append(
            $("<div> Project due by:" + project.due_by + "</div>")
        )
        .append(
            $("<div>" + project_repo.url + "</div>")
        )
        .append(
            $("<div>" + project_board.url + "</div>")
        )
        .append(
            $("<div>" + collaborators + "collaborators on this project. </div>")
        )
    )
)
