/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *

****************
 CSS RESET!!!! */

body {
  overflow-x: hidden;
}

*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input, select, button, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  font: inherit;
  color: inherit;
}
 /* App-Wide Styles */

 body {
  font-family: Lato;
  padding: 0;
  margin: 0;
  background: #eee;
  color: white;
 }

 a {
  color: white;
 }


 nav#mainNav {
  width: 100vw;
  padding: 0;
  border: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
 }

 #mainNav {
  background-color: #73c2e6;
  height: 14vh;
 }

 #mainNav > a >#wynlogo {
  margin: 1em;
  padding: 1em;
  border-radius: 50%;
  max-width: 128px;
  max-height: 128px;
 }

 #mainNav > p {
  text-align: left;
  width: 100%;
 }

 #namePlate {
  padding-top: 1em;
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 0;
 }

 #subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  height: 1.8em;
 }

.btn-primary: hover {
  border: 0;
  width: inherit;
}
