/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* RESET */

body {
  overflow-x: hidden;
}

*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input, select, button, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  font: inherit;
  color: inherit;
}
 /* App-Wide Styles */

 body {
  padding: 0;
  margin: 0;
  background: #55ba9d;
  color: white;
 }

 a {
  color: white;
 }

 #wynlogo {
  margin: 1em;
  padding: 1em;
  border-radius: 50%;
 }

 nav#mainNav {
  width: 100vw;
  padding: 0;
  border: 0;
  margin: 0;
 }


 .right {
  float: right;
  background: #303f4e;
  height: auto;
  width: 15vw;
  border: 0;
  margin: 0;
 }

 .container {
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  width: 85vw;
 }

#repoChart {
  max-height: 100%;
  max-width: 100%;
}

.btn-primary {
  width: 100%;
}
