
#chartBox {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  width: 82vw;
  height: 82vh;
  background-color: #303f4e;
  border-radius: .8em;
  margin-top: 1.4em;
  margin-left: 1.8em;
}

#chartBox > div {
  color: black;
  font-family: Lato;
  font-weight: 400;
  border-radius: 0.8em;
  background-color: rgba(221,221,221, 0.75);
  margin: 0.3em 0.3em;
  display: flex;
  align-content: center;
  justify-content: center;
}

.project-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: space-between;
  width: 47.5%;
  height: 48%;
  text-align: center;
}

.project-box > span {
  margin: 1em;
}

.project-box > .btn {
  align-self: center;
}

.repo-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  width: 47.5%;
  height: 48%;
  max-width: 47.5%;
  max-height: 48%;
}

.repo-box > a.btn {
  align-self: center;
}

#trello-link {
  max-height: 2.5em;
}

#link-git-btn {
  width: 462px;
  margin-top: 1.8em;
  align-self: center;
  justify-content: center;
  text-align: center;
}

#link-repo-form {
  align-self: center;
  width: 80%;
}

#link-repo-form > form {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  justify-content: center;
}

.trello-box {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
  width: 96%;
  height: 48%;
  text-align: center;
}

.trello-box > div > a#trello-link {
  max-width: 35%;
  align-self: center;
  margin-top: 1.5em;
}

.trello-box > div.card-container {
  display: flex;
  flex-flow: row wrap;
  height: 74%;
  width: 80%;
  background: rgba(238, 238, 238, 0.7);
  border-radius: 0.8em;
  overflow-x: auto;
  overflow-y: wrap;
  align-self: center;
  justify-content: center;
  text-align: center;
}

#board-inpr-info-box, #board-blocked-info-box {
  max-width: 40%;
  max-height: 60%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-self: center;
  overflow-y: scroll;
  overflow-x: auto;
  margin: 1em 1em;
}

.card-container > div > span {
  border-radius: 0.8em;
  display: block;
  width: 85%;
  margin: .3em .6em;
  padding: 0.4em;
  text-align: center;
  align-content: flex-start;
  justify-content: center;
  align-self: center;
}

.card-container > div > span.card-warn {
  background-color: rgba(238, 0, 0, 0.7);
}

.card-container > div > span.card-1d-old {
  background-color: rgba(210, 109, 19, 0.5);
}

#clock {
  border-radius: 0.6em;
  width: 45%;
  height: 2.5em;
  align-self: center;
  padding-top: 0.5em;
  justify-content: center;
  margin-top: 0.5em;
}


#chartBox > div > a {
  max-height: 2.5em;
}

.right {
  float: right;
  background: #303f4e;
  height: 86vh;
  width: 15vw;
  border: 0;
  margin: 0;
}

.right > a:first-child {
  margin-top: 1em;
}

.right > .active {
  background-color: #ddd;
  color: black;
  border-radius: 0;
}

.container {
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  width: 85vw;
}

.container-title {
  text-align: center;
  justify-content: center;
}

#repoChart {
  display: none;
  background-color: rgba(238, 238, 238, .8);
  padding: 0.8em;
  border-radius: 0.8em;
  max-height: 400px;
  max-width: 580px;
  align-self: center;
}

.btn-primary {
  width: 100%;
  background-color: inherit;
  border: 0;
  padding: 1em;
}

a.btn-info {
  width: 48%;
  margin: .3em;
}

a.btn-info:even {
  float: right;
}

.projects-nav-gutter {
  height: auto;
  margin: 0;
  padding: 0.2em 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.btn-secondary {
  background-color: #ddd;
  color: black;
  justify-content: center;
  text-align: center;
  width: inherit;
  border-radius: 0;
  display: none;
  z-index: 0;
  border: 0;
  height: auto;
  padding: 0.4em;
  margin: 0 auto;
  border: 0;
}

.btn-secondary:hover, .btn-secondary:active, a.active {
  background-color: #eee;
  border: 0;
}


.left {
  float: left;
  background: #303f4e;
  height: 86vh;
  width: 15vw;
  border: 0;
  margin: 0;
}

.left > a:first-child {
  margin-top: 1em;
}

#new-project-form {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

#new-project-name {
  color: white;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}

#new-project-name > label {
  display: block;
  color: black;
}

.user-card-image {
  border-radius: 24px;
  margin-left: 1em;
  margin-top: 1em;
  max-height: 64px;
  max-width: 64px;
}

#user-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  max-height: 64px;
  max-width: 100%;
}

#user-card-name {
  margin-top: 1em;
}

#pdp-modal {
  color: black;
}

.modal-body {
  min-height: 8em;
}

.notice {
  color: green;
  size: 1.8em;
}

#users-search-txt input {
  width: 100%;
  font-size: 1em;
  padding: .5em 1.3em;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 2em;
}

#users-search-txt input:focus {
  border-color: #A5CEF5;
}

.users-search .results .ui-widget-content {
  background: #fff;
  font-size: .9em;
  padding: .5em 0;
  border-color: #ddd;
  box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
  line-height: 1.2;
  max-height: 20em;
  overflow: hidden;
  overflow-y: auto;
}

.users-search .results .ui-menu-item {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: .4em .6em .4em 6.2em;
  position: relative;
  border: 0;
  border-left: 5px solid transparent;
  position: relative;
  height: 6.5em;
}

.results > li {
  list-style: none;
}


.repo-title {
  text-align: center;
}
