
// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing_image img{
  max-width: 600px;
  max-height: 800px;
  margin-top: 7%;
}

.boxed {
  border: 5px solid white ;
  border-radius: 20px;
  margin-right:5%;
  margin-left:5%;
  margin-top:5%;
  margin-bottom:5%;
}

style{
  color:white;
}

.landing_image{
  text-align: center;
}
.left {
  float: left;
  width: 200px;
  height: 600px;
  background: red
}
.right {
  float: right;
  background: yellow;
  height: 600px;
  width: 200px;
  margin-right: 1%;

}
